extends layout

block content
  h1= title
  p Welcome to #{title}, a peer-to-peer foreign currency exchange platform.

  label I need exchange 
  select #get
    option(value="USD") USD
    option(value="CNY") CNY
  
  label for 
  select #give
    option(value="USD") USD
    option(value="CNY") CNY

  .amount-inputs
    input#get-amount 
    span#equal-sign &equals;
    input#give-amount  
    span#times-sign &times;
    input#rate
