doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://unpkg.com/react@16/umd/react.production.min.js', crossorigin)
    script(src='https://unpkg.com/react-dom@16/umd/react-dom.production.min.js', crossorigin)
    script(src='https://unpkg.com/babel-standalone@6/babel.min.js', crossorigin)
  body
    block content
